<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Patryk Napiórkowski" />
    <meta
      property="og:title"
      content="Strona Młodzieżowej Drużyny Pożarniczej OSP Naprom"
    />
    <meta property="og:url" content="https://www.mdp-naprom.pl/" />
    <meta property="og:description" content="Zapraszamy na stronę MDP Naprom" />
    <meta property="og:image" content="assets/images/logo-mdp-png" ; />
    <meta
      name="keywords"
      content="MDP, Młodzieżowa Drużyna Pożarnicza, OSP, Naprom, OSP Naprom, Pożarnictwo, Zajęcia Dodatkowe"
    />
    <meta
      name="description"
      content="Strona Młodzieżowej Drużyny Pożarniczej OSP Naprom"
    />
    <link
      rel="shortcut icon"
      href="assets/images/logo-mdp-png.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <title>MDP Naprom</title>
  </head>
  <body>
    strona
  </body>
</html>
